<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Паттерн вывода -->
  <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

  <!-- Аппендер для консоли -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- Уровень логирования DEBUG/INFO/ERROR-->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <!-- Дополнительные настройки для Vert.x -->
  <logger name="arbiter" level="INFO"/>
</configuration>
